$white: #fff;
$black: #000;
$orange: #ef6c00;
$red: #d9534f;
$blue: #5bc0de;
$yellow: #f0ad4e;
$green: #5cb85c;
$light-yellow: #ffffdf;
$light-blue: #d9f0f8;
$light-grey: #efefef;
$dark-blue: #3f5263;
$dark-grey: gray;
$background-color: #f5f9fd;
$headings-color: #2b2b2b;
$text-color: #666;
$link-color: #999999;
$brand-color-primary: #76d0be;
$brand-color-secondary: #ff6764;
$menu-bg-color: #669900