article {
  &.hentry {
    border-bottom: 1px solid gainsboro;
    position: relative;
    padding: 0 0 25px;
  }
  .share-container {
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    padding: 10px !important;
    margin: 15px;
    .label {
      float: left;
      display: block;
      width: 150px;
      font-size: 16px;
      padding-top: 7px;
      color: $text-color;
      font-weight: 500;
    }
  }
}